.ysp-compare-yachts-container {
    width: 100%;
    max-width: 1400px;
    margin: 0px auto;
    position: relative;
    
    .ysp-compare-general-container {
        width: 100%;
        max-width: 1400px;
        position: fixed;
        z-index: 10;

        .ysp-compare-logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0px;
            width: 100%;
            background: #202020;
            border: 1px solid #202020;
    
            img {
                width: auto;
                height: 50px;
            }
        }

        .ysp-compare-images-container {
            display: flex;
            background: #FFFFFF;
            width: 100%;
            border: 1px solid #202020;

            .ysp-compare-title-container {
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    text-transform: uppercase;
                    font-size: 20px;
                    color: #202020;
                }
            }

            .ysp-compare-images {
                width: 80%;
                display: flex;

                .ysp-compare-image {
                    flex-grow: 1;
                    width: 100%;
    
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .ysp-yacht-compare-supporting-container {
        width: 100%;
        display: flex;
        padding-top: 381px;
        border: 1px solid #FFFFFF;

        .ysp-yacht-compare-keys {
            width: 20%;

            p {
                width: 100%;
                text-align: center;
                padding: 10px 0px;
                width: 100%;
                margin: 0px;
    
                &:nth-child(even) {
                    background-color: #d8d8d8;
                }
            }
        }
    
        .ysp-compare-info{
            width: 80%;
            display: flex;

            .ysp-yacht-compare-info {
                flex-grow: 1;
                width: 100%;

                p {
                    width: 100%;
                    padding: 10px 0px;
                    margin: 0px;
    
                    &.compare-img {
                        padding: 0px !important;
                    }
    
                    &:nth-child(even) {
                        background-color: #d8d8d8;
            
                    }
                }

                .ysp-remove-button {
                    padding: 10px 15px;
                    color: #FFFFFF;
                    background-color: #EE4B2B;
                    border-radius: 3px;
                    text-decoration: none;
                    margin: 0px auto;
                }
            }
        }
    }
}