#h-search-container{
    max-width: $max-width;
    margin-right: auto;
    margin-left: auto;

    .ys-h-row {
        display: flex !important;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;

        .ys-h-row-item {
            position: relative;
            flex: 0 0 calc(20% - 10px);
            box-sizing: border-box;
            width: 100%;

            @media screen and (max-width: $breakpoint-x-large) {
                flex: 0 0 calc(25% - 10px);
            }

            @media screen and (max-width: $breakpoint-large) {
                flex: 0 0 calc(33% - 10px);
            }

            @media screen and (max-width: $breakpoint-med) {
                flex: 0 0 calc(50% - 10px);
            }

            @media screen and (max-width: $breakpoint-small) {
                flex: 0 0 100%;
            }
        }

        .submit-container {
            label {
                color: transparent;
            }

            @media screen and (max-width: $breakpoint-med) {
                flex: 0 0 100%;
            }
        }
    }
}