#h-search-container{

	display: none;

	@media (min-width: $breakpoint-med) {
		display: block;
	}
}

#open-mobile-search{
	display: block;

	@media (min-width: $breakpoint-med) {
		display: none;
	}
}

#ysp-super-mobile-search{
	
	display: none;

	position: fixed;

	z-index: 999;

    width: 100%;
    height: 100%;

    top: 0px;
    left: 0px;

    background-color: #fff;


}