#single-rai_yacht {
    display: flex;

    .yacht-main-container {
        width: 70%;

        .yacht-general-info {

            .yacht-name-price-info {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .yacht-title {
                    font-size: $h1-size;
                    font-weight: $h1-weight;
                    color: $main-text-color;
                    line-height: 36px;
                    margin: 0;
                }
                .yacht-price {
                    font-size: $h2-size;
                    font-weight: $h1-weight;
                    color: $secondary-text-color;
                    line-height: 28px;
                    margin: 0;
                }
            }

            .yacht-make-year-info {
                display: flex;
                align-items: center;

                .yacht-make {
                    font-size: 14px;
                    color: $secondary-text-color;
                    line-height: 20px;
                    margin: 10px 15px 26px 0px;
                }
                .yacht-year {
                    font-size: 14px;
                    color: $secondary-text-color;
                    line-height: 20px;
                    margin: 10px 0px 26px 15px;
                }
                .vertical-separator {
                    margin: 8px 0px 26px 0px;
                }
            }
        }
        .yacht-image-container {
            .yacht-main-image-container {
                height: 537px;
                width: 100%;
    
                .yacht-image {
                    height: 537px;
                    width: 100%;
                }
            }
            .yacht-gallery-container {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                margin-bottom: 75px;

                .yacht-gallery-image {
                    width: 102px;
                    height: 102px;
                }
            }
        }
        .yacht-main-info-container {
            width: 100%;
            background-color: #F1F5F9;

            .yacht-main-info {
                display: flex;
                justify-content: space-between;
                padding: 25px 69px 20px 51px;

                .yacht-length {
                
                    .yacht-length-text {
                        display: flex;
                        align-items: center;
    
                        p {
                            color: $main-text-color;
                            font-size: 12px;
                            font-family: Inter;
                            font-weight: 500;
                            margin: 0px 0px 0px 5px;
                        }
                    }
    
                    .yacht-length-value {
    
                        p {
                            color: $main-text-color;
                            font-size: 18px;
                            font-weight: 500;
                            margin: 14px 0px 0px 0px
                        }
    
                    }
                }
    
                .yacht-beam {
                    
                    .yacht-beam-text {
                        display: flex;
                        align-items: center;
    
                        p {
                            color: $main-text-color;
                            font-size: 12px;
                            font-family: Inter;
                            font-weight: 500;
                            margin: 0px 0px 0px 5px;
                        }
                    }
    
                    .yacht-beam-value {
    
                        p {
                            color: $main-text-color;
                            font-size: 18px;
                            font-weight: 500;
                            margin: 14px 0px 0px 0px
                        }
    
                    }
                }
    
                .yacht-cabins {
                    
                    .yacht-cabins-text {
                        display: flex;
                        align-items: center;
    
                        p {
                            color: $main-text-color;
                            font-size: 12px;
                            font-family: Inter;
                            font-weight: 500;
                            margin: 0px 0px 0px 5px;
                        }
                    }
    
                    .yacht-cabins-value {
    
                        p {
                            color: $main-text-color;
                            font-size: 18px;
                            font-weight: 500;
                            margin: 14px 0px 0px 0px
                        }
    
                    }
                }
    
                .yacht-guests {
                    
                    .yacht-guests-text {
                        display: flex;
                        align-items: center;
    
                        p {
                            color: $main-text-color;
                            font-size: 12px;
                            font-family: Inter;
                            font-weight: 500;
                            margin: 0px 0px 0px 5px;
                        }
                    }
    
                    .yacht-guests-value {
    
                        p {
                            color: $main-text-color;
                            font-size: 18px;
                            font-weight: 500;
                            margin: 14px 0px 0px 0px
                        }
    
                    }
                }
            }
        }
        .yacht-download-brochure-container {
            margin-top: 23px;

            .yacht-download-button {
                background-color: $main-text-color;
                padding: 8px 16px;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                box-shadow: none;
                border: none;

                &:hover {
                    background-color: darkgray;
                }

                img {
                    margin-right: 8px;
                }
            }
        }
        .yacht-general-description-container {
            display: flex;
            margin-bottom: 94px;

            .yacht-description-label {
                width: 33%;
                color: $main-text-color;
                font-size: 18px;
                font-weight: 600;
                line-height: 28px;
            }
            .yacht-description-value {
                width: 67%;

                p, a, ul, ol, li {
                    text-align: left !important;
                    color: $main-text-color !important;
                    font-size: 14px !important;
                    font-weight: 400 !important;
                }
                strong, b {
                    font-size: 14px !important;
                }
            }
        }
        .yacht-specs-container {
            display: flex;
            margin-bottom: 74px;

            .yacht-specs-label {
                width: 33%;
                color: $main-text-color;
                font-size: 18px;
                font-weight: 600;
                line-height: 28px;
            }

            .yacht-specs-value {
                width: 67%;
                .yacht-specs-item {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    border-bottom: 1px solid $divider-color;

                    .specification-name {
                        color: $main-text-color;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                    }

                    .specification-value {
                        color: $secondary-text-color;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }
        }
        .yacht-full-details-container {
            width: 100%;

            .yacht-details-label {
                color: $main-text-color;
                font-size: 18px;
                font-weight: 600;
                line-height: 28px;
                margin-bottom: 30px;
            }
            .yacht-details-value {
                width: 100%;

                .yacht-accordion-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid $divider-color;

                    .yacht-accordion-name {
                        color: $main-text-color;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        // margin: 0;
                    }
                    .yacht-accordion-arrow {
                        // margin: 0;
                    }
                }

                .yacht-accordion-display {

                    border-bottom: 1px solid $divider-color;

                    .yacht-accordion-display-item {
                        color: $main-text-color;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }
        }
    }
    .secondary-container {
        width: 30%;
        height: 100vh;

        .secondary-sub-container {
            margin-top: 98px;
            margin-left: 39px;

            .broker-info-container {
                display: flex;
                margin-bottom: 40px;

                .broker-profile-image {
                    height: 120px;
                    width: 120px;
                    background-color: #D9D9D9;
                }
                .broker-info {
                    margin-left: 19px;

                    p {
                        margin: 0px;
                    }
                    .broker-name {
                        color: $main-text-color;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                    }
                    .broker-title {
                        color: $secondary-text-color;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        margin-bottom: 19px;
                    }
                    .broker-email {
                        color: $main-text-color;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                    .broker-phone {
                        color: $main-text-color;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }

            .yacht-form-container {

                .yacht-form-title {
                    color: $main-text-color;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 28px;
                    letter-spacing: -0.1px;
                    margin-bottom: 30px;
                }

                form {
                    width: 100%;
                    div {
                        display: block;

                        label {
                            display: block;
                            color: $main-text-color;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 11px;
                            margin-bottom: 10px;
                        }
                        input {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 24px;
                            border-radius: 0px;
                            margin-bottom: 14px;
                            padding: 8px 12px;
                            width: 100%;
                            &:focus {
                                border-radius: 0px;
                            }
                        }
                        select {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 24px;
                            border-radius: 0px;
                            margin-bottom: 14px;
                            padding: 8px 12px;
                            width: 100%;
                        }
                        textarea {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 24px;
                            border-radius: 0px;
                            margin-bottom: 14px;
                            padding: 8px 12px;
                            width: 100%;

                            &:focus {
                                border-radius: 0px;
                            }
                        }

                    }

                    .yacht-form-submit {
                        background-color: $main-text-color;
                        box-shadow: none;
                        border: 0;
                        width: 100%;
                        padding: 8px 12px;
                        margin: auto;
                        color: #FFFFFF;
                    }
                }

            }

        }

    }
}