#v-search-container {
    max-width: 260px;
    margin-right: auto;
    margin-left: auto;

    .ys-v-row {
        display: block;

        .ys-v-row-item {
            margin-bottom: 15px;
            position: relative;
        }
    }
}